@import '_normalize';
@import '_bootstrap-grid';

* {
  box-sizing: border-box;
}

$white: #fff;
$gallery: #eee; // alternatywne tło sekcji
$gray: #898989; // obramowaie formularzy
$dove-gray: #676767; // głowny kolor tekstu
$bouquet: #b269af; // obramowanie tytułu sekcji
$rouge: #9f449b; // kolor wyróżnienia i hover odnośników
$plum: #9E449B; // kolor przycisku
$finn: #6B2E68; // kolor dolnego obramowania przycisku
$tundora: #484848;
$boulder: #777; // kolor ikon społ., wskaźnika slajdów i podpisu w slajderze
$mine-shaft: #222;

body {
  color: $dove-gray;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: 1px dotted $rouge; 
  }
}

/* Header */

.site-title {
  margin: 3.5em 0 1em;
  display: inline-block;
  max-width: 482px;
  max-height: 110px;
  img {
    width: 100%;
  }
}

.site-subtitle {
  font-weight: 300;
  font-size: 3em;
  margin: .5em 0;
}

.site-description {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 4.5em;
}

.page-header {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  color: $white;
  .nav {
    display: inline-block;
    width: 180px;
    height: 180px;
    a {
      background-image: url("../images/bha.png");
      // background-image: url("../images/bg01.png");
      background-repeat: no-repeat;
      position: relative;
      height: 100%;
      width: 100%;
      padding-top: 115px;
      // color: inherit;
      font-weight: 700;
      display: inline-block;
      text-decoration: none;
      &:hover, &:focus, &.active {
        background-image: url("../images/hoverbg.png");
      }
      &:focus {
        outline: thin dotted;
        outline-offset: -35px;
      }
      &:before {
        position: absolute;
        top: 34px;
        left: 58px;
        content: "";
        display: inline-block;
        width: 64px;
        height: 64px;
        background-image: url("../images/menu-icons.png");
        background-repeat: no-repeat;
        background-size: 64px auto;
      }
      &.nav-services:before {
        background-position: 0 -125px;
      }
      &.nav-portfolio:before {
        background-position: 0 -188px;
      }
      &.nav-about:before {
        background-position: 0 -0px;
      }
      &.nav-team:before {
        background-position: 0 -62px;
      }
      &.nav-blog:before {
        background-position: 0 -250px;
      }
      &.nav-contact:before {
        background-position: 0 -313px;
      }
    }
  }

  .row {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  .arrow-down {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-bottom: 5em;
    a {
      display: block;
      height: 100%;
      width: 100%;
      background-image: url("../images/arrow.png");
      background-repeat: no-repeat;
      &:hover, &:focus {
        outline: 0;
        background-image: url("../images/arrow1.png");  
      }
    }
  }  
}

.page-header div[class*='col-'] {
  padding: 0;
}

/* Glowne menu strony */

.page-nav {
  width: 100%;
  background-color: $white;
  padding: .5em 0;
  z-index: 99999;
  /* animacja */
  transition: all 0.4s ease;
  img {
    transition: width 0.4s ease;
  }
}
@media (min-width: 768px) {
  .page-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    line-height: 1;
    padding: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,0.9);
    img {
      width: 90%;
    }
  }
}

.logo {
  a {
    float: left;
    vertical-align: middle;
    height: 100%;
    padding: 1em 0;
  }
  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 992px) {
    float: left;
    display: inline-block;
  }
}

#hamburger {
  float: right;
  display: block;
  background-color: #fff;
  background-image: url("../images/hamburger.png");
  background-size: 50px auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 36px;
  margin: 1em 0;
  border: none;
  @media (min-width: 768px) {
    display: none;
  }
  &:focus {
    outline: 1px dotted $finn;
    outline-offset: 3px;
  }
} 

.main-menu {
  padding: 0;
  li {
    display: block;
    a {
      text-transform: uppercase;
      display: block;
      padding: 0.5em 0;
      color: $dove-gray;
      font-weight: 400;
      font-size: 18px;
      text-decoration: none;
      &:hover, &:focus, &.active {
        color: $rouge;        
      }
      @media (min-width: 768px) {
        margin: 0 15px;
      }
      @media (min-width: 992px) {
        margin: 0 0 0 34px;
      }   
    }
  }
  @media (min-width: 768px) {
  display: block!important;
  float: right;
    li {
      display: inline-block;
    }
  }
}

/* Sekcje */

section .container {
  padding: 8em 0;
}

.section-title {
  display: inline-block;
  position: relative;
  margin: 0 auto 2.5em;
  font-size: 3em;
  font-weight: 300;
  padding: .5em 1em;
  &:before {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    border-left: 1px solid $bouquet;
    border-bottom: 1px solid $bouquet;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:after {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    border-top: 1px solid $bouquet;
    border-right: 1px solid $bouquet;
    position: absolute;
    top: 0;
    right: 0; 
  }
}

.about .about-bottom, .services .services-bottom {
  padding: 9em 0;
  background-image: url("../images/section-bg.jpg");
  background-size: cover;
  p {
    color: $white;
    font-size: 3em;
    font-weight: 400;
    padding: 0;
    margin: 1em 0 0;
  }
}

/* Kontent */

.info {
  background-color: $gallery;
  .container {
    padding: 10em 0;
  }
  .icon-heading {
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 0;
    &:before {
      content: "";
      display: block;
      margin: 0 auto 1.5em;
      height: 200px;
      width: 200px;
      background-image: url("../images/icons-sprite.png");
      background-repeat: no-repeat;
    }
    &.heart:before { 
      background-position: 0 0; 
    }
    &.diamond:before {
      background-position: 0 -200px; 
    }
    &.coffee:before {
      background-position: 0 -400px; 
    }
    &.phone:before {
      background-position: 0 -600px; 
    }
    &:hover:before { background-image: url("../images/icons-sprite-hover.png") }
  }
  p {
    line-height: 1.7;
  }
}

/* Sekcja o nas */

.about {
  img {
    max-width: 100%;
  }
  
  .lead p {
    text-align: left;
    padding: 0 1em;
    line-height: 2;
  }
}

/* Sekcja zespol */

.team {
  .container {
    padding-bottom: 0;
  }
  .slider-nav {
    margin: 5em 0 9em;
    .arrow {
      display: inline-block;
      height: 70px;
      background-repeat: no-repeat;
      &.left {
        width: 64px;
        background-image: url("../images/left.png");
      }
      &.right {
        width: 65px;
        background-image: url("../images/right.png");
      }    
    }    
  }

  h3 {
    font-size: 1.5em;
    color: $tundora;
    text-transform: uppercase;
    margin: 2em 0 0;
  }
  p {
    font-size: 1.15em;
    color: $boulder;
    font-weight: 400;
  }
}

/* Sekcja skille */

.services {
  .container {
    padding: 7em 0 11em;
    .section-title {
      margin-bottom: 4em; 
    }
  }
  .progress-bar-title {
    color: $mine-shaft;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    span {
      font-weight: 400;
      color: $boulder;
      float: right;
    }
  }
  .progress-bar {
    margin-bottom: 1.5em;
    width: 100%;
    height: 20px;
    background-color: lighten($gallery, 1%);
    span {
      display: block;
      height: 100%;
      background-color: $rouge;
    }
  }  
}

/* Sekcja blog */

.blog {
  background-color: $gallery;
  ul {
    padding: 0;
    li {
      display: block;
      font-weight: 300;
      span {
        display: block;
        font-size: 4em;
        color: $mine-shaft;
        font-weight: 400;
      }
      @media (min-width: 768px) {
        display: inline-block;
        width: 25%;
      } 
    }
  }
  blockquote {
    p {
      color: $tundora;
      font-size: 2em;
    }
    footer {
      font-weight: bold;
      font-size: 1.2em;
      color: $boulder;
    }
  }
  .slider-mask {
    overflow: hidden;
    padding-top: 5em;
    .slider-stripe {
      position: relative;
      // width: 5820px;
      left: 0;
    }
  }
  .slider-item {
    width: 100%;
    float: left;
  }
  .slider-indicators {
    display: inline-block;
    padding: 0;
    li {
      cursor: pointer;
      margin: 0 2px;
      display: inline-block;
      height: 12px;
      width: 12px;
      border: 1px solid $boulder;
      border-radius: 50%;
      &.active {
        box-shadow: 0 0 3px rgba(0,0,0,.6);
        background-color: $boulder;
      }
    }
  }
}

/* Sekcja portfolio */

.portfolio {
  .container {
    background-color: $white;
    position: relative;
    top: -3em;
    padding-bottom: 1em;
  }
  .filter-buttons {
    margin-bottom: 4.5em;
    button {
      font-size: 1.12em;
      font-weight: 400;
      color: $mine-shaft;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid $mine-shaft;
      border-radius: 3px;
      padding: 0.5em 1.3em;
      margin: 0.5em;
      &:hover, &:focus, &.active {
        border: 1px solid $rouge;
        color: $white;
        background-color: $rouge;
      }
      &:focus {
        outline: thin dotted;
        outline-offset: -0.3em;
      }
    }
  }
  .row a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    img {
      display: block;
    }
    &:hover, &:focus {
      outline: 0;
      background-image: url("../images/plus.png");
      background-repeat: no-repeat;
      background-position: center center;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.1) url("../images/plus.png") no-repeat center center;
      }
    }
  }
  img {
    width: 100%;
  }
  h3 {
    color: $mine-shaft;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0;
  }
  p {
    color: $boulder;
    font-weight: 400;
    margin: 0.5em 0 2.5em;
  }
  .button {
    margin-top: 1em;
  }
}

/* Sekcja formularza kontaktowego */

.contact {
  form {
    margin: 1em 0;
    padding: 0 1em;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  input[type=text], 
  input[type=email],
  textarea {
    color: $mine-shaft;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    width: 100%;
    border: 1px solid $gray;
    &:focus {
      outline: 0;
      border: 1px solid $rouge;
      box-shadow: 0 0 2px $finn;
    }
  }
  .contact-info {
    margin: 1em 0;
    padding: 0 1em;
    text-align: left;
  }
  p {
    margin: 0 0 2em;
    font-size: 1.4em;
  }
  address {
    color: $mine-shaft;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 700;
  }
}

/* Stopka strony */

.page-footer {
  padding-bottom: 7em;
}

/* Przyciski */

.button, input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  padding: 1em 3em;
  margin-bottom: 1em;
  background-color: $plum;
  color: $white;
  font-size: 1.2em;
  border-radius: 7px;
  border: none;
  border-bottom: 3px solid $finn;
  font-weight: 400;
  &:hover, &:focus {
    background-color: $finn;
  }
  &:focus {
    outline: thin dotted;
    outline-offset: -8px;
  }
}

.social-icon {
  text-align: center;
  border: 1px solid $boulder;
  color: $mine-shaft;
  display: inline-block;
  font-weight: 300;
  border-radius: 50%;
  margin: 0 16px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  line-height: 42px;
  &:hover, &:focus {
    color: $rouge;
    border: 1px solid $rouge;
  }
}
  
.big-social-icon {
  @extend .social-icon;
  margin: 6px;
  width: 80px;
  height: 80px;
  font-size: 52px;
  line-height: 70px;
  @media (min-width: 768px) {
    margin: 0;
    margin-right: 36px;
  }
}

/* Helpers */

.highlight {
  color: $rouge;
}

.hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// [class*='col-'] {
//  outline: 1px solid $white;
//  min-height: 100px;
// }